
/* !!! CSS reset !!!  per eliminare strani 2px in piu' che appaiono qua a la */
* {
   margin: 0;
   padding: 0;
}

.not {
    display: none;
}

body {
    /* per non mostrare le barre di scorrimento  */
    /* overflow-y:hidden; */
    /* overflow-x:hidden; */

    /* margin-top: 20px; */
    /* margin-left: 20px; */

    margin-top: 20px;;
    margin-bottom: 20px;;
    margin-right: 10%;
    margin-left: 10%;
    border: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}


h2 {
  margin-top: 60px;
  margin-bottom: 30px;
}


p { 
    margin-top: 20px;
}

ol { 
    margin-top: 20px;
}

ul { 
    margin-top: 20px;
}

li { 
    margin-left: 40px;
    margin-top: 10px;
}

div.centerDiv { 
     text-align: center;     
}

div#spaceAfterTitle { 
    margin-top: 50px;
    margin-bottom: 20px;
}


ol.factList { 
    margin-left: 20px;
}

li.fact { 
    margin-top: 20px;
}

span.cmd { 
   font-family: monospace;
    background-color: lightgrey;
    color: darkred;    
}

div.cmd { 
   font-family: monospace;
   white-space: pre-wrap;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left:10px;
   padding-bottom:10px;
   background-color: lightgrey;
   color: darkred;    
}

div.withOutput {
   margin-bottom: 0px;
}

div.output { 
   font-family: monospace;
   white-space: pre-wrap;
   background-color: lightgrey;
   color: black;        
   padding-left:10px;
   padding-bottom:10px;
}

/* table#applications {  */
/*     table-layout: fixed; */
/*     margin-top: 20px; */
/*     margin-right: 20px; */
/* } */

/* tr.work {  */
/*     margin-top: 20px; */
/* } */

/* table#applications td {  */
/*     padding-left: 5px; */
/*     padding-right: 5px; */
/*     padding-top: 10px; */
/* } */

/* table#applications td.type {  */
/*     text-align: center; */
/* } */


/* /\* ul.work {  *\/ */
/* /\*     margin-top: 10px; *\/ */
/* /\*     margin-left: 25px; *\/ */

/* /\* } *\/ */


/* /\* li.work {  *\/ */
/* /\*     margin-top: 10px; *\/ */
/* /\* } *\/ */

/* /\* div.page { *\/ */
/* /\*     height: 70%; *\/ */
/* /\*     width: 70%; *\/ */
/* /\* } *\/ */

/* div#line1 { */
/*     margin-top: 2%; */
/*     margin-bottom: 2%; */
/* } */

/* /\* div.title {  *\/ */
/* /\*     margin-top: 5%; *\/ */
/* /\*     margin-left: 20px;  *\/ */
/* /\*     align: right: *\/ */
/* /\* } *\/ */


/* span.label { */
/*     margin-left: 1%; */
/* } */

/* input#input {  */
/*     background-color: #b4f7d3; */
/*     text-align: center; */
/*     font-size: 17px; */
/*     font-weight: bold; */
/*     width: 100px; */
/*     margin-left: 15px; */
/* } */

/* span#buildingDescription {  */
/*     margin-left: 30px; */
    
/* } */


/* #mapid {  */
/*     height: 84%;  */
/*     width: 98%; */
/*     border: 1px solid black; */
/*     /\* per il centramento nella pagina *\/ */
/*     margin: auto; */
/* } */


/* div#debug {  */
/*     position: absolute; */
/*     overflow: scroll; */
/*     width: 98%; */
/*     height: 30%; */
/*     z-index: 100000; */
/*     background-color: lightgrey; */
/*     bottom: 10px; */
/*     left: 10px; */
/*     /\* visualizzare solo in fase di debug *\/ */
/*     display: none; */
/* } */

/* p.debug {  */
/*     margin-left: 5px; */
/*     margin-top: 2px; */
/*     /\* this does not work well in chrome, misteriously *\/ */
/*     /\* font-size: 50%; *\/ */
/*     color: blue; */
/*     font-family: "Lucida Console", Monaco, monospace; */
/* } */

/* div#coda {  */
/*     height: 5%; */
/*     fontSize: 90%; */
/*     margin-top:1%; */
/*     margin-bottom: 1%; */
/*     margin-right: 1%; */
    
/* } */

/* p#testoCoda {  */
/*     text-align: right; */
/* } */
